{% extends "base.html" %}

{% block title %}
    Data Entry - My Website
{% endblock %}

{% block content %}
    <h1>Data Entry</h1>
    <div class="parent-contain">
        <div class="form-container">
            <form action="/data_entry_submit" method="POST">
                <label for="location">Location:</label>
                <input id="location" name="location" required type="text"><br>
                <input type="hidden" id="compliance_type" name="compliance_type">
                <label for="compliance_details">Compliance Details:</label>
                <input type="text" id="compliance_details" name="compliance_details" required><br>
                <select id="compliance_type_dropdown" onchange="setComplianceTypeDropdown(this)">
                    <option value="">Select Compliance Type</option>
                    <option value="Air Pollution">Air Pollution</option>
                    <option value="Water Pollution">Water Pollution</option>
                    <option value="Waste Management">Waste Management</option>
                    <option value="Hazardous Materials Handling">Hazardous Materials Handling</option>
                    <option value="Other">Other</option>
                </select><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        ©️ 2024 Environmental Compliance Assessment
    </footer>
{% endblock %}
