<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style2.css"/>
</head>
<script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar").style.padding = "30px 10px";
                document.getElementById("logo").style.fontSize = "20px";
            } else {
                document.getElementById("navbar").style.padding = "80px 10px";
                document.getElementById("logo").style.fontSize = "20px";
            }
        }
</script>
<body>
    <div id="navbar">
        <a href="#default" id="logo">Environmental Monitoring with Satellite Imagery & Remote Sensing</a>
        <div id="navbar-right">
            <a href="/">Home</a>
            {% if 'username' in session %}
                <a href="/data_entry">Data Entry</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/issues">Active Issues</a>
                <a href="/satellite-images">Satellite Images</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/report">Report Issue</a>
                <a href="/satellite-images">Satellite Images</a>
                <a href="/login">Login</a>
            {% endif %}
            <a href="/aboutus">About Us</a>
        </div>
    </div>
    <div class="home">
        <div class="bgimg-1">
            <div class="caption">
            <span class="border">Environmental Compliance Assessment</span>
            <p style="color: white;">Welcome to Environmental Compliance Website.</p>
            <p style="color: white;">A one stop site for all Environmental Issues and Tracking!</p>
            </div>
            </div>
            
            <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
                <h3 style="text-align:center;">What we do?</h3>
                <p>We here at Environmental Compliance take care of all the public Compalints made from out portal and make sure that everyone is getting correct and latest information about pollution levels. And for this we offer many features which are mainly absed on crowdwork. And this helps us to gather latest and filter out latest data.</p>
            </div>

            <div class="bgimg-2">
                <div class="caption">
                <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">What We Offer?</span>
                </div>
            </div>

            <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            <h3 style="text-align:center;">Various Exclusive features:</h3>
            <p>Our website offers many various features like:</p>
            <ul>
                <li>Effective Compalint Logging Portal</li>
                <li>Access to latest data of Pollution Levels</li>
                <li>Ability to contribute in Logging Data.</li>
            </ul>
            </div>
            
            <div class="bgimg-3">
            <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">What to Expect?</span>
            </div>
            </div>
            
            <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            <h3 style="text-align:center;">We always try that you get best experience</h3>
            <p>As most of the websites are not a one stop solution for logging Compalints and check recent data of pollution levels. Here at Environmental Compliance make sure that our Environment stays safe and issues are handled effectively. Which inlcude reporting indistries for breaking Environmental laws.</p>
            </div>
            
            <div class="bgimg-1">
            <div class="caption">
            <span class="border">Thanks for Reading</span>
            </div>
        </div>
    </div>      
</body>
</html>

