<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Environmental Compliance Assessment</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if 'username' in session %}
                <li><a href="/data_entry">Data Entry</a></li>
                <li><a href="/data_display">Data Display</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/issues">Active Issues</a></li>
                <li><a href="/aboutus">About Us</a></li> 
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/data_display">Data Display</a></li>
                <li><a href="/report">Report Issue</a></li>
                <li><a href="/aboutus">About Us</a></li>    
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>Welcome to Environmental Compliance Assessment</h1>
    <div class="image-land-container">
        <img src="https://i.pinimg.com/originals/6a/2a/49/6a2a490fa979f32f6337212b18e65e1d.gif" class="image-land">
        <div class="image-text">Environmental Compliance Assessment is a web application that allows users to enter and 
            display environmental compliance data.<br>
            Report Issues & Know about environmental laws.<br>
            Many more...
        </div>
    </div>
    <hr class="hr-decorative">
    <div class="section">
        <h2>Environmental Compliance</h2>
        <p>Environmental compliance refers to the state of conforming to environmental laws, regulations, standards, and other requirements aimed at protecting the environment and public health. It involves ensuring that activities, processes, and operations do not harm the environment and comply with established guidelines.</p>
        <p>Key aspects of environmental compliance include:</p>
        <ul>
            <li>Understanding and adhering to environmental laws and regulations applicable to your industry or operation.</li>
            <li>Implementing measures to prevent pollution and minimize environmental impact.</li>
            <li>Regular monitoring, reporting, and documentation of environmental performance.</li>
        </ul>
        <p>Environmental compliance is crucial for sustainable development, preserving natural resources, and safeguarding ecosystems. Non-compliance can lead to legal consequences, fines, damage to reputation, and environmental harm.</p>
    </div>
    <hr class="hr-decorative">
    <p>©️ 2024 Environmental Compliance Assessment</p>
</body>
</html>
