<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if 'username' in session %}
                <li><a href="/data_entry">Data Entry</a></li>
                <li><a href="/data_display">Data Display</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/data_display">Data Display</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
</body>
<footer>
    ©️ 2024 Environmental Compliance Assessment
</footer>
</html>
