{% extends "base.html" %}

{% block title %}
    Report Issue - Environmental Compliance Assessment
{% endblock %}

{% block content %}
    <div class="login-box">
        <h2>Report Compliance Issue</h2>
        <form action="/submit-issue" method="POST" id="report-issue">
            <div class="user-box">
                <input name="location" id="location" type="text" required placeholder="Location">
            </div>
            <div class="user-box">
                <select id="issue_type" name="issue_type">
                    <option value="">Select Compliance Type</option>
                    <option value="Air Pollution">Air Pollution</option>
                    <option value="Water Pollution">Water Pollution</option>
                    <option value="Waste Management">Waste Management</option>
                    <option value="Hazardous Materials Handling">Hazardous Materials Handling</option>
                    <option value="Other">Other</option>
                </select><br>
            </div>
            <div class="user-box">
                <textarea name="description" id="description" rows="2" cols="30" required placeholder="Description"></textarea>
            </div>
            <div class="user-box">
                <input type="text" name="contact" id="contact" required placeholder="Contact Number">
            </div>
            <div class="user-box">
                <input type="email" name="email" id="email" required placeholder="Email">
            </div>
            <a href="#" onclick="document.getElementById('report-issue').submit()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        ©️ 2024 Environmental Compliance Assessment
    </footer>
{% endblock %}
