{% extends "base.html" %}

{% block title %}
    Ticket Created - Environmental Compliance Assessment
{% endblock %}

{% block content %}
    <h1 style="color: aqua; text-align: center;">Ticket Created</h1>
    <p style="color:rgb(0, 0, 0); text-align: center;">Your issue has been successfully reported.</p>
    <p style="color:rgb(0, 0, 0); text-align: center;">Your ticket ID is: <strong>{{ ticket_id }}</strong>.</p>
    <p style="color:rgb(0, 0, 0); text-align: center;">Mail I'd: <strong>{{ mail_id }}</strong></p>
    <p style="color:rgb(0, 0, 0); text-align: center;">Our team will get back to you shortly.</p>
    <p style="color:rgb(0, 0, 0); text-align: center;">Thank you for reporting the issue.</p>
    <a href="/report" style="color: rgb(0, 0, 255); text-align: center;">Report Another Issue</a>
    <a href="/" style="color: rgb(0, 0, 255); text-align: center;">Home</a>
{% endblock %}
