{% extends "base.html" %}

{% block title %}
    No Access - Environmental Compliance Assessment
{% endblock %}

{% block content %}
    <style>
        body {
            background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*5OIZPpRVTmzC5kt_KneHIw.gif');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
    <br><br>
{% endblock %}

{% block footer %}
    <footer>
        ©️ 2024 Environmental Compliance Assessment
    </footer>
{% endblock %}
